
/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Custom css*/
body {
    font: 72.5% "Trebuchet MS", sans-serif;
    margin: 15px;
    background-image: url("../Content/Images/steel_honeycombTile.jpg");
    background-color: #404040;
    text-align: left;
}

p {
    font: 110% "Trebuchet MS", sans-serif;
}

button{
        font: 98% "Trebuchet MS", sans-serif;
}

input {
        font: 98% "Trebuchet MS", sans-serif;
}

textarea {
        font: 98% "Trebuchet MS", sans-serif;
}

select {
        font: 98% "Trebuchet MS", sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #f00;
}

a:active {
    text-decoration: none;
}

td {
    padding: 5px 10px 5px 10px;
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    border-color: silver;
}

table {
    border-width: 1px 1px 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    border-color: silver;
}