
/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Custom css*/
body {
    font: 72.5% "Trebuchet MS", sans-serif;
    margin: 15px;
    background-image: url("../Content/Images/steel_honeycomb.jpg");
    background-color: #404040;
    text-align: left;
}

p {
    font: 110% "Trebuchet MS", sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #f00;
}

a:active {
    text-decoration: none;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

    #dialog-link span.ui-icon {
        margin: 0 5px 0 0;
        position: absolute;
        left: .2em;
        top: 50%;
        margin-top: -8px;
    }

#icons {
    margin: 0;
    padding: 0;
}

    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }

    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }

#headerBanner {
    border-bottom: solid;
    background-image: url("../Content/Images/spiderweb.jpg");
    border-bottom-style: groove;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    height: 100px;
}

#headerMenu {
    border-bottom: solid;
    border-bottom-style: groove;
    border-width: thin;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: black;
}

#userDataStrip {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: silver;

}

#mainContainer {
    text-align: left;
    background-color: white;
    border: solid;
    border-style: groove;
    border-width: thin;
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 0 20px 5px #333;
    -webkit-box-shadow: 0 0 20px 5px #333;
    box-shadow: 0 0 10px 2px #333;
    z-index: 25;
}

.buttonMenuMain {
    width: 124px;
    border-radius: 0px 0px;
    font-weight: bold;
    font-size: 10px;
}


#containerNoticias {
    background-color: white;
    border: solid;
    border-color: silver;
    border-width: thin;
    width: 600px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 3px 3px;
    float: left;
}

#containerStatistics {
    background-color: white;
    border: solid;
    border-color: silver;
    border-width: thin;
    width: 290px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px 3px;
    float: left;
    text-align: center;
}

#containerDrops {
    background-color: white;
    border: solid;
    border-color: silver;
    border-width: thin;
    width: 898px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px 3px;
    display: block;
    clear: both;
}

.padded {
    padding: 5px 5px 5px 5px;
    border-radius: 3px 3px;
}

td {
    padding: 5px 10px 5px 10px;
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    border-color: silver;
}

table {
    border-width: 1px 1px 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    border-color: silver;
}

.pieceMarker {
    margin-right: 8px;
    border-bottom: dotted;
    border-width: thin;
    border-bottom-color: silver;
}

.freeLeech {
    color: blue;
    font-weight: bold;
}
