<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="BitShareContainer" connectionString="metadata=res://*/BitShare.csdl|res://*/BitShare.ssdl|res://*/BitShare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bit-share.net;initial catalog=BitShareDB;user id=bitsharer;password=iwillshare;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BitShareContainer" connectionString="metadata=res://*/BitShare.csdl|res://*/BitShare.ssdl|res://*/BitShare.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:zwr0o9cxia.database.windows.net,1433;Database=BitShareAzure;User ID=bitsharer@zwr0o9cxia;Password=Bitshare214196;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>