@{
    ViewBag.Title = "Browse";
}

<style>
    #torrentContainer {
        background-color: white;
        border: solid;
        border-color: silver;
        border-width: thin;
        width: 898px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 3px 3px;

    }

</style>

<div id="torrentContainer">
    <div class="ui-widget-header padded">Pesquisar Torrents</div>
        <div class="padded">
              <div style="width:300px; float:left;">Busca: <input type="text" style="width:200px;"/></div>
              <div style="width:200px; float:left;">Categoria:</div> 
        </div>
     <br style="clear: both;" />
</div>
